<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>ToDo list - VueJs</title>
</head>
<body>
    <!-- inizio app/container -->
    <div id="app" class="container">
        <!-- aggiungi task -->
        <div>
            <input id="add_text" class="inputs" type="text" placeholder="aggiungi elementi alla lista" 
                @KeyUp.enter="add" 
                v-model="newTask"
            >
            <button id="add_btn" class="inputs" @click="add">Aggiungi</button>
        </div>

        <!-- errore task vuoto -->
        <div id="error" v-if="error">
            <h3>non puoi inserire un task vuoto!</h3>
        </div>
        
        <!-- task container -->
        <div id="task_container">
            <ul v-if="tasks.length > 0">
                <li class="task" v-for="(task, index) in tasks">
                    <span>
                        <input type="checkbox">
                        {{task.text}}
                    </span>
                    <i class="fa-solid fa-xmark remove" @click="remove(index)"></i>
                </li>
            </ul>

            <h2 v-else>aggiungi qualche task...</h2>
        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>